doctype html
html
  head
    title the to do
  body
    h1 this is the to do application

    div
      p 
        button(onclick="reveal()" class="reveal") +
    div
      form(method="post" action="/todo")
        input(type="text" name="item")
        input(type="submit" value="submit")
    div
      ul
        each val in data
          li= val
      
